
@{
    ViewData["Title"] = "Add";
}

<h1> Agregar Jugador </h1>

<form method="post">

    <div class="form-floating mb-3">
        <label for="floatingInput">Nombre</label>
        <input type="text" class="form-control" name="nombre" placeholder="Nombre">
    </div>
    <div class="form-floating">
        <label for="floatingPassword">Apellido</label>
        <input type="text" class="form-control" name="apellido" placeholder="Apellido">
    </div>
    <div class="form-floating">
        <label for="floatingPassword">Posición</label>
        <input type="tel" class="form-control" name="posicion" placeholder="Posición">
    </div>
    <div class="form-floating">
        <label for="floatingPassword">Salario</label>
        <input type="tel" class="form-control" name="salario" placeholder="Salario">
    </div>
    <div class="form-floating">
        <label for="floatingPassword">Club</label>
        <input type="tel" class="form-control" name="club" placeholder="Club">
    </div>
    <div>
        <button type="submit" class="btn btn-outline-primary">Agregar</button>
    </div>

    <div>
        <center><h5 class="text-primary"> @ViewBag.Mensaje </h5></center>
    </div>

</form>

<div class="d-grid gap-2">
    <center>
        <button class="btn btn-primary" onclick="location.href='@Url.Action("Search", "Home")'" input name="option" type="button">Buscar jugador</button>
    </center>
</div>


