

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seleccione estructura de datos a utilizar</h1>
    <form method="post">
        <div class="d-grid gap-2">
            <button class="btn btn-outline-primary" asp-action="CambioEstructuraArtesanal">Lista Artesanal</button>
            <button class="btn btn-outline-primary" asp-action="CambioEstructuraCsharp">Lista c#</button>
        </div>
    </form>
    <Div>
        <center><h5 class="text-primary"> @ViewBag.Mensaje </h5></center>
    </Div>
</div>
