@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seleccione estructura de datos a utilizar</h1>

    <div class="d-grid gap-2">
        <button class="btn btn-primary" input name="option" type="button" id=" ListaArtesanal">Lista Artesanal</button>
        <button class="btn btn-primary" input name="option" type="button" id=" ListaC">Lista c#</button>
    </div>

</div>
