
@{
    ViewData["Title"] = "Upload";
}

<h1>Upload</h1>

<center> <h1 class="display-4">Cargar Datos</h1> </center>
<center><p class="h4">Jugadores</p></center>

<form asp-controller="Singleton.Instance.listaDoble" asp-action="Upload" method="post" enctype="multipart/form-data">
    <input type="file" name=" file " />
    <button type="submit"> Subir </button>

</form>

